body {
  margin: 0;
  font-family: 'Times New Roman', Times, serif;
  background-color: aqua;
  color: rgb(2, 35, 141);
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
